<nav class="top-bar" data-topbar role="navigation">
  <div class="row">
    <ul class="title-area">
      <li class="name">
        <h1><a>Knigh Lab oEmbed</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li><a href="https://knightlab.northwestern.edu/"><img class="logo" src="//cdn.knightlab.com/libs/purpleline/latest/img/logos/logo_horizontal_NOtagline_383x91_transparent_NOpadding.png" alt="Northwestern University Knight Lab" /></a></li>
      </ul>
    </section>
  </div>
</nav>
